<div class="timeline">

  <div class="timeline-item">
    <div class="timeline-icon">
        <%= image_tag "venezuela(1).svg"%>
    </div>

    <div class="timeline-content">
      <p class="timeline-content-date">1997</h2>
      <p>Nací en Caracas, Venezuela. Viví en la Isla de Margarita toda mi vida.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <%= image_tag "carnicero.svg"%>
      <br>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">2014-2015</h2>
      <p>Estudié un tiempo Licenciatura en Estadística pero decidí seguir mis sueños y
me retiré para dedicarme plenamente a la cocina.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
        <%= image_tag "cocina.svg"%>
		<br>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">2016</h2>
      <p>Estudié con el reconocido chef Sumito Estévez y trabajé en 3 cocinas.
      </p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
        <%= image_tag "republica-dominicana.svg"%><br>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">2017</h2>
      <p>
         Este año trabajé en una cocina en la República Dominicana por 3 meses.
      </p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
        <%= image_tag "chile.svg"%><br>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date"><span class="timeline-content-month">Diciembre</span> 2017 - <span class="timeline-content-month">Abril</span> 2018</p>
      <p>En Diciembre del año 2017 emigré a Chile y aquí empecé a trabajar en la cocina de Bastad Burgers en La Serena.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
            <%= image_tag "cocina(1).svg"%><br>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date"><span class="timeline-content-month">Abril</span> 2018 - <span class="timeline-content-month">Abril 2019</span></p>
      <p>Trabajé en Ambrosía y Pan Bar en Santiago de Chile, ambas cocinas al mismo tiempo. Tuve el privilegio de volver a estudiar y trabajar con Sumito.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
    	<%= image_tag "cocinero.svg"%><br>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date"><span class="timeline-content-month">Actualmente</span></p>
      <p> Estoy realizando pasantías en Boragó en Santiago de Chile. Estoy en constante crecimiento y búsqueda de oportunidades donde pueda ofrecer mis servicios.</p>
    </div>
  </div>

</div>
<div class="row hide-for-small-only">
	<div class="medium-3 columns"></div>
	<div class="medium-6 columns">
		<p><i>Contáctame.</i> <br><b>Email:</b> <i>gdavidbracho@gmail.com</i> | <b>mobile:</b> <i>+5678293000</i></p>
	</div>
	<div class="medium-3 columns"></div>
</div>

<div class="row show-for-small hide-for-medium hide-for-large">
	<div class="small-12 columns"><p><i>Contáctame.</i> <br><b>Email:</b> <i>gdavidbracho@gmail.com</i> | <b>mobile:</b> <i>+5678293000</i></p></div>
</div>
